
/* common css tags for everything */
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

a{
    text-decoration: none;
}

ul ol{
    list-style-type: none;
}

img{
vertical-align: middle;
}

.clr{
    clear: both;
}
/* ===================================================================== */
.header{
    height: 700px;
    text-align: center;
    background-image: url(../images/other/donation12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header h1{
    color: white;
    justify-content: center;
    padding-top: 100px;
}